@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: Staatliches;
  font-size: 50px;
}

img {
  padding: 30px;
}

.card-title {
  font-family: Anton;
  font-size: 25px;
}

.card-body {
  text-align: center;
}

.card-text {
  font-size: 15px;
  font-family: Roboto;
}

.card {
  margin: 10px;
  background-color: #fed065;
  position: relative;
  left: 52px;
  text-align: center;
}

button {
  /* background-color: #2e93f5; */
  color: white;
}

.detailsImage {
  width: 170px;
  margin: auto;
}

.gadgetImage {
  width: 70px;
  position: relative;
  bottom: 25px;
}

.detailsName {
  font-size: 25px;
  font-weight: bold;
  font-family: Anton;
}

.detailsBrawlerType {
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  color: rgb(167, 9, 167);
}

.aboutPage {
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
}

.comparePage {
  text-align: center;
  font-family: Roboto;
}

#gameImage {
  padding: 50px;
}

input {
  text-align: center;
  margin: 30px 558px 0px 558px;
}

.compareInput {
  padding: 5px;
  font-size: 13px;
  position: relative;
  right: 535px;
  bottom: 20px;
}

.inputInstructions {
  background-color: #FFCD00;
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
}

.compareList {
  font-size: 13px;
  font-family: Roboto;
  text-align: center;
}

.compareHeader {
  font-weight: bold;
  font-size: 14px;
  color: #526EFF;
  font-family: Roboto;
  text-align: center;
}

button {
  margin: 5px;
  color: white;
  background-color: #ec4c31;
  border: 10px;
  border-color: black;
  width: 150px;
}

.logo {
  padding: 15px 5px 15px 5px;
  position: relative;
  left: 63px;
}

.active {
  background-color: #b22b13;
}
